@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

.container {
  position: relative;
  height: 100vh !important;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #3f0e82, #451689, #4a1d8f, #502496, #552a9d, #552a9d, #552a9d, #552a9d, #502496, #4a1d8f, #451689, #3f0e82);
}


  .box {
    position: absolute;
    height: 23%;
    width: 100%;
    background-color: #301278;
  }
.wrapper {
  
  -webkit-box-shadow: -1px 10px 40px 0px rgba(86, 44, 160,0.75);
  -moz-box-shadow: -1px 10px 40px 0px rgba(86, 44, 160,0.75);
  box-shadow: -1px 10px 40px 0px rgba(86, 44, 160,0.75);
  
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 2;
  
}

.wrapper-shadow {
  border-radius: 50%;
  -webkit-box-shadow: -1px 10px 40px 0px rgba(0, 0, 0,0.75);
  -moz-box-shadow: -1px 10px 40px 0px rgba(0, 0, 0,0.75);
  box-shadow: -1px 10px 40px 0px rgba(0, 0, 0,0.75);
  z-index: 1;
}

.CircularProgressbar-background svg circle{
  border: solid 1px black;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: url(#idCSS);
}

.wrapper {
  position: relative;
}

.price {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  z-index: 10000;
  font-family: 'Sarala', sans-serif, arial;
  font-weight: 800;
  font-stretch: expanded;
  font-size: 60px;
  color: rgb(108, 82, 164)
}

.rotate {
  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 